<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <table class="table table-striped"  *ngIf="results?.length">
      <thead>
        <tr>
          <th scope="col">Price</th>
          <th scope="col">Id</th>
          <th scope="col">Element</th>
          <th scope="col">Stars</th>
          <th scope="col">Stat 1</th>
          <th scope="col">Stat 2</th>
          <th scope="col">Stat 3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of results">
          <td>{{ item.price }}</td>
          <td>{{ item.weaponId }}</td>
          <td>{{ item.weaponElement }}</td>
          <td>{{ item.weaponStars }}</td>
          <td>{{ item.stat1Value }} {{ item.stat1Element }}</td>
          <td>{{ item.stat2Value }} {{ item.stat2Element }}</td>
          <td>{{ item.stat3Value }} {{ item.stat3Element }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
